# Git
.git
.gitignore

# Docker
docker-compose.yml
.dockerignore

# Dependencies
node_modules
frontend/node_modules
flatnas-helper/node_modules

# Build Artifacts
backend/*.exe
backend/flatnas-backend
backend/flatnas-linux
backend/server.exe
backend/server_debug.exe
backend/server_run.exe
backend/debug_weather.exe
*.exe

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
test_build
